<section class="block-search">
  <div class="container">
    <div class="row block-search-row">
      <div class="block-search-row-logo">
        <span class="icon icon-logo"></span></div>
      <div class="col-12 col-md-5 col-lg-7 align-self-center block-search-right">
        <div class="block-search-message">
          <h1 class="block-search-message-title">
            <span>{{i18n "Home.HeroMessage"}}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="container">
  {{> book/deals deals}}
</main>