<div class="mb-4">
    <h2 class="block-booking-title3">Total price</h2>
            <hr class="block-booking-underline">
    <span class="row">
        <span class="col-12">
        </span>
    </span>
    <h3 class="block-booking-total">${{price}}</h3>
    <h3 class="block-booking-total">for {{passengers}} passenger/s</h3>
</div>
<span class="block-booking-link">Taxes, fees and charges</span>
<br>
<span class="block-booking-link">Low-price guarantee</span>